<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--自动生成 domain ,mapper 和  xml 等。使用生成工具，注意合并代码 -->
<generatorConfiguration>
<!--         <classPathEntry location="D:\mysql-connector-java-5.1.9.jar" />-->

    <context id="PTables" targetRuntime="MyBatis3" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"></property>
        <property name="endingDelimiter" value="`"></property>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否  -->
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>

        </commentGenerator>

        <!--mdb库的数据库驱动链接-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://123.56.152.42:3308/test?characterEncoding=utf8&amp;useSSL=false"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <!--配置mdb库-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.zfxf.provider.dao.domain.mdb" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.zfxf.provider.dao.mapper.mdb" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zfxf.provider.dao.mapper.mdb"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--要生成的表名-->
        <table tableName="user" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false">
        </table>


    </context>
</generatorConfiguration>
